{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers
      {% if showForm %}
        <form action="/tweets" method="POST">
          <div class="form-group">
            <label for="name_field">Name:</label>
            <input name="name" type="text" class="form-control" id="name_field" value="{{username}}"/>

            <label for="text_field">Text:</label>
            <input name="text" type="text" class="form-control" id="text_field" />

            <input type="submit" class="btn btn-primary" value="Submit" />
          </div>
        </form>
      {% endif %}
    </div>
    <div id="tweetlist" class="col-md-9">
    
      <!-- display tweets here -->
      {% for tweet in tweets.reverse() %}
        <div>
          <p><a href="/users/{{tweet.name}}"><b>{{tweet.name}}</b></a></p>
          <p>{{tweet.content}} (<a href="/tweets/{{tweet.id}}">permalink</a>)</p>
        </div>
      {% endfor %}
      
    </div>
  </div>
    
{% endblock %}
